/* Importing Josefin Sans & Protest Guerrilla */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&family=Underdog&display=swap');

/* Desktop 1024 and up */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  background-color: #e9e9e9;
  font-family: Josefin Sans;
  color: #14181d;
  margin: 0;
  padding: 0;
}

main {
  background: white;
  width: 80%;
  margin: 0px auto;
  padding: 50px;

}

h1,
h2,
h3 {
  font-family: Protest Guerrilla;
  color: #000000;
}

h1 {
  font-size: 400%;
  margin-bottom: 50px;
}

p {
  margin: 50px 0px;
}

/* Headers */
header {
  text-align: center;
  padding: 50px, 0;
}

.logo img {
  width: 200px;
  margin-top: 50px;
}

nav {
  margin: 20px 50px;
}

nav a {
  text-decoration: none;
  color: #000000;
  margin: 0 50px;
  font-size: 200%;
}

/* Contents */
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin-bottom: 50px;
}

.content h2 {
  margin-bottom: 50px;
  font-size: 300%;
}

/* Albums Images */
.albums {
  display: grid;
  /* One large & two small columns on right */
  grid-template-columns: 2fr 1fr 1fr;
  /* Two rows */
  grid-template-rows: 1fr 1fr;
  gap: 50px;
  width: 90%;
  margin: 50px auto
}

.Album1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;

}

.Album2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.Album3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.Album4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.Album5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

/* Make all images fill their grid cells */
.albums img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Author */
.author {
  display: flex;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 50px;
  margin: 50px auto;
}

.author img {
  width: 200px;
  border-radius: 50%;
  margin-right: 50px;
}

.author h3 {
  font-size: 300%;
  text-align: center;
  margin: 50px;
}

.author p {
  max-width: 65%;
  margin: 50px auto;


}

/* Footer */
footer {
  background: #141811;
  color: #fff;
  padding: 50px 50px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

/* Tablet 720-1024----------------------------------------------------------- */
@media (min-width: 720px) and (max-width: 1024px) {
  .main {
    margin: 30px auto;
    padding: 30px;
  }

  h1 {
    margin-bottom: 30px;
  }

  /* Headers */
  header {
    padding: 30px, 0;
  }

  .logo img {
    width: 80px;
    margin-top: 30px;
  }

  nav {
    margin-top: 30px;
  }

  nav a {
    margin: 0 30px;
    font-size: 150%;
  }

  h1 {
    font-size: 300%;
  }

  /* Contents */
  .content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 30px;
  }

  .content h2 {
    margin-bottom: 30px;
    font-size: 200%;
    text-align: center;
  }

  /* Albums */
  .albums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
    width: 90%;
    margin: 30px auto;
  }

  .Album1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .Album2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .Album3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .Album4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .Album5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  /* Author */
  .author {
    padding-top: 30px;
    margin: 30px auto;
  }

  .author img {
    width: 180px;
    margin-right: 30px;
  }

  .author h3 {
    margin: 30px auto;

  }

  /* Footer */
  footer {
    padding: 30px 0;
  }
}

/* Large Mobile 540-720----------------------------------------------------------- */
@media (min-width: 540px) and (max-width: 720px) {
  .main {
    margin: 20px;
    padding: 20px;
  }

  h1 {
    font-size: 300%;
    margin-bottom: 20px;
    text-align: center;
  }

  /* Headers */
  header {
    padding: 20px 0;
  }

  .logo img {
    width: 80px;
    margin-top: 20px;
  }

  nav {
    margin-top: 20px;
  }

  nav a {
    margin: 0 20px;
    font-size: 130%;
  }

  h1 {
    margin-bottom: 20px;
  }

  /* Contents */
  .content {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content h2 {
    margin-bottom: 20px;
    font-size: 180%;
    text-align: center;
  }

  /* Albums */
  .albums {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
  }

  .Album1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .Album2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .Album3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .Album4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  .Album5 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }

  /* Author */
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 20px 0;

  }

  .author img {
    width: 150px;
    margin: 0 auto;
    order: -1;
  }

  .author h3 {
    text-align: center;
    font-size: 200%;
    margin: 20px 0;

  }

  /* Footer */
  footer {
    padding: 20px 0;

  }
}

/* Small Mobile 360-540----------------------------------------------------------- */
@media (min-width: 360px) and (max-width: 540px) {
  .main {
    width: 100%;
    margin: 12px;
    padding: 12px;
  }

  h1 {
    font-size: 300%;
    margin-bottom: 12px;
    text-align: center;
  }

  /* Headers */
  header {
    padding: 12px 0;
  }

  .logo img {
    width: 80px;
    margin-top: 12px;
  }

  nav {
    margin-top: 12px;
  }

  nav a {
    margin: 0 12px;
    font-size: 110%;
  }

  h1 {
    margin-bottom: 12px;
  }

  /* Contents */
  .content {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .content h2 {
    margin-bottom: 12px;
    font-size: 180%;
    text-align: center;
  }

  /* Albums */
  .albums {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 12px;
    width: 90%;
    margin: 12px auto;
  }

  .Album1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  .Album2 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
  }

  .Album3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
  }

  .Album4 {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
  }

  .Album5 {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
  }

  /* Author */
  .author {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    margin: 12px 0;

  }

  .author img {
    width: 150px;
    margin: 0 auto;
    order: -1;
  }

  .author h3 {
    text-align: center;
    font-size: 200%;
    margin: 12px 0;

  }

  /* Footer */
  footer {
    padding: 12px 0;

  }

}
